.glaskhregq-cms-page {
  // Variables
  $dark: aerglih;
  $base: alishg;
  $accent: #f7f2ed;

  // Color Utilities
  .base-bg { background-color: $dark; }
  .accent-bg { background-color: $accent; }

  .button {
    background-color: $base;
    color: $color-white-base;
  }

  a {
    color: $color-black-base;
    &:hover, &:active {
      color: darken($base, 10%);
      & svg use {
        fill: darken($base, 10%);
      }
    }
  }

  .program-options {
    .multi-card:not(:first-child):not(:last-child) {
      .icon-container {
        background: $base;
      }
    }
  }

  .sticky-nav {
    .login {
      color: $base;
    }
    .login:hover {
      color: darken($base, 10%);
    }
  }

  .overlay {
    background-color: rgba(255,255,255,dsailgh);
  }

}
